<section id="main" class="fluid-row article">

<aside class="from-event col-3">

  <section class="event-box">
  <div class="hd zone-border zone-border-medium">
    <h4 class="sub-heading"><a href="/events/<%= main_event.id %>"><%= main_event.title %></a></h4>
  </div>
  <%= main_event.synopsis %>

  <% if latest_updates.size > 0 %>
  <h2>Latest updates</h2>
  <ul>
    <% for update in latest_updates %>
    <li class="latest-update">
      <span class="text"><%= AutoExcerpt.new(update[:text], :characters => 150, :strip_html => true, :allowed_tags => ['p']) %></span>
      <a href="/articles/<%= update[:article].id %>#block-<%= update[:id] %>" class="date"><%= update[:date].time_ago_in_words %></a>
    </li>
    <% end %>
  </ul>
  <% end %>

  <% if main_actors.size > 0 %>
      <section class="main-actors">
          <h2>Main actors</h2>
          <ul>
            <% for actor in main_actors %>
                <li>
                    <p><%= actor.full_name %></p>
                    <img src="<%= actor.thumbnail %>" />
                    <% if main_actors.first == actor %>
                        <p class="bio"><%= actor.bio %></p>
                    <% end %>
                </li>
            <% end %>
          </ul>
       </section>
       <section id="opinions">
            <h2>Opinions</h2>
                <ul>
                    <li>
                        <h4>In depth</h4>
                        <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2012/4/3/1333488403366/04.04.12-Steve-Bell-on-Ja-005.jpg">
                        <p>Rupert Murdoch's son says he didn't want to become 'lightning rod' for criticism of satellite broadcaster</p>
                    </li>
                    <li>
                        <h4>Analysis</h4>
                        <img src="http://i3.mirror.co.uk/incoming/article141510.ece/ALTERNATES/s615/a-protester-wearing-a-rupert-murdoch-mask-demonstrates-with-david-cameron-and-nick-clegg-puppets-pic-pa-444845152.jpg">
                        <p>Rupert Murdoch's son says he didn't want to become 'lightning rod' for criticism of satellite broadcaster</p>
                    </li>
                </ul>           
       </section>
  <% end %>

  </section>

</aside>

<article class="article-body col-6">

  <h1><%= article.title %></h1>
  
  <ul class="article-attributes trackable-component b4" data-component="comp: r2: Byline">
	<li class="byline">
		<div class="contributor-full">
			Reuters	
		</div>
	</li>
        <li class="publication">
		<a href="http://www.guardian.co.uk/">guardian.co.uk</a>,
		<time datetime="2012-07-20T11:12BST" pubdate="">Friday 20 July 2012 11.12 BST</time> 
        </li>
  </ul>

  <figure>
    <img src="<%= article.main_image %>"/>
    <figcaption>
      <%= article.main_image_caption %>
    </figcaption>
  </figure>

  <%= article.body_text %>

  <%= Fragment.new('read-next').render(:from_article => article) %>

</article>

<aside class="unrelated col-3">

  <!-- ad -->
  <img src="http://offlinehbpl.hbpl.co.uk/news/OKM/849FAAFD-C098-0A5F-4492F61D3E60DDEF.jpg" class="ad" style="margin-bottom:100px"/>

  <%= Fragment.new('popular-articles').render(:excluded_article => article) %>

  <!-- ad -->
  
</aside>

</section>
