<section id="main" class="fluid-row article">

<aside class="from-event col-3">

  <section class="event-box">
  <div class="hd zone-border zone-border-medium">
    <h4 class="sub-heading"><a href="/events/<%= main_event.id %>"><%= main_event.title %></a></h4>
  </div>
  
  <p><%= main_event.synopsis %></p>

  <% if latest_updates.size > 0 %>
  <h2>Latest updates</h2>
  <ul>
    <% for update in latest_updates %>
    <li class="latest-update">
      <span class="text"><%= AutoExcerpt.new(update[:text], :characters => 150, :strip_html => true, :allowed_tags => ['p']) %></span>
      <a href="/articles/<%= update[:article].id %>#block-<%= update[:id] %>" class="date"><%= update[:date].time_ago_in_words %></a>
    </li>
    <% end %>
  </ul>
  <% end %>

  <% if main_actors.size > 0 %>
      <section class="main-actors">
          <h2>Main actors</h2>
          <ul>
            <% for actor in main_actors %>
                <li>
                    <p><%= actor.full_name %></p>
                    <img src="<%= actor.thumbnail %>" />
                    <% if main_actors.first == actor %>
                        <p class="bio"><%= actor.bio %></p>
                    <% end %>
                </li>
            <% end %>
          </ul>
       </section>
  <% end %>
  <% if main_event.get_articles_by_type('opinion').size > 1 %>
      <section id="opinions">
                <h2>Opinions</h2>
                <ul>
                    <% for opinion_article in main_event.get_articles_by_type('opinion') %>
                        <% if opinion_article.id != article.id %>
                        <li>
                            <h4><%= opinion_article.format_type %></h4>
                            <a href="/articles/<%= opinion_article.id %>"><img src="<%= opinion_article.main_image %>"/></a>
                            <p><%= opinion_article.title %></p>
                        </li>
                        <% end %>
                <% end %>
                </ul>
      </section>
  <% end %>

  </section>

</aside>

<article class="article-body col-6">

  <h1><%= article.title %></h1>
  
  <ul class="article-attributes trackable-component b4" data-component="comp: r2: Byline">
	<li class="byline">
		<div class="contributor-full">
			Reuters	
		</div>
	</li>
        <li class="publication">
		<a href="http://www.guardian.co.uk/">guardian.co.uk</a>,
		<time datetime="2012-07-20T11:12BST" pubdate="">Friday 20 July 2012 11.12 BST</time> 
        </li>
  </ul>

  <figure>
    <img src="<%= article.main_image %>"/>
    <figcaption>
      <%= article.main_image_caption %>
    </figcaption>
  </figure>

  <%= article.body_text %>

  <%= Fragment.new('read-next').render(:from_article => article) %>

</article>

<aside class="unrelated col-3">

  <!-- ad -->
  <img src="http://offlinehbpl.hbpl.co.uk/news/OKM/849FAAFD-C098-0A5F-4492F61D3E60DDEF.jpg" class="ad" style="margin-bottom:100px"/>

  <%= Fragment.new('popular-articles').render(:excluded_article => article) %>

  <!-- ad -->
  
</aside>

</section>
