
<section role="background">
 ...
</section>

<img 
    src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2011/5/10/1305036701106/Milly-Dowler-007.jpg"
    id="hero" />
    
<section id="main" class="fluid-row event" role="event">

<section class="key-events">
    <div class="story-title">BSkyB Bid</div>
    <ul>
        <li class="event ellipsis">&hellip;</li>
        <li class="event">
            <span class="title">Jeremy Hunt replaces Vince Cable</span>
            <time>Nov. 10</time>
        </li>
        <li class="event current">
            <span class="title">Vince Cable goes after Rupert Murdoch</span>
            <time>Nov. 8</time>
        </li>
        <li class="event">
            <span class="title">News Corporation announces bid to takeover BSkyB</span>
            <time>June 3</time>
        </li>
    </ul>
</section>

<article class="event-main col-8">

<h1><%= event.title %></h1>

<p class="when">
    <b>When</b>: <%= event.when %> <!-- --> 
</p>


<aside id="background">
    <h2>Summary</h2>
    <%= event.summary %>
</aside>

<blockquote class="col-4">
    <span class="bqstart">“</span>
    <span class="quote">
        We need those messages as evidence. Anybody who destroys that evidence is seriously interfering with the course of a police investigation.
    </span>
    <span class="bqend">”</span>
</blockquote>


<aside>
    <h2>Since your last visit</h2>
    <%= event.summary %>
</aside>

<!-- 
<div class="arrow_box"
        onclick="document.getElementsByTagName('body')[0].className='active';">
    <h2>Understand the Impact</h2>
    <p>
        - Phone Hacking
        - Murder of Milly Dowler
        - News International bid for BSkyB 
    </p>
</div>
-->

<aside id="characters">
    <h2>Characters</h2>
    <img src="http://news.bbcimg.co.uk/media/images/54023000/jpg/_54023105_murdoch_reuters_238.jpg" />
    <img src="http://news.bbcimg.co.uk/media/images/50975000/jpg/_50975432_wade_afp.jpg" />
    <img src="http://news.bbcimg.co.uk/media/images/54023000/jpg/_54023097_jamesmurdoch_ap.jpg"/>
    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2011/5/10/1305036701106/Milly-Dowler-007.jpg"/>
</aside>


<% if all_articles.size > 0 %>
<h2>Articles</h2>
<ul>
<% for art in all_articles %>
  <li><a href="/articles/<%= art.id %>"><%= art.title %></a></li>
<% end %>
</ul>
<% end %>



</article>


<aside class="widgets col-4">

  <% if main_story %>
  <section class="story-box">
  <div class="hd zone-border zone-border-medium">
    <h4 class="sub-heading"><a href="/stories/<%= main_story.id %>"><%= main_story.title %></a></h4>
  </div>
  <%= main_story.synopsis %>
  </section>
  <% end %>

  <% if event.widgets.include?('map') %>
  <div id="map_canvas" style="width:100%; height: 200px"></div>
  <script type="text/javascript">
  // TODO: highlight location, allow multiple maps
  var el = document.getElementById("map_canvas");
  window.onload = function() {
    initMaps(el, <%= event.location[:lat] %>, <%= event.location[:long] %>)
  };
  </script>
  <% end %>

  <% for concept in concept_widgets %>
  <section class="story-box">
  <div class="hd zone-border zone-border-medium">
    <h4 class="sub-heading">What is <em><%= concept.title %></em>?</h4>
  </div>
  <%= concept.definition %>
  </section>  
  <% end %>

</aside>

</article>

</section>

<section role="depth">
 ... 
</section>

