<section id="main" class="fluid-row event">

<article class="event-main col-8">

<h1>Event: <%= event.title %></h1>

<h2>Summary</h2>

    <p>
        <%= event.summary %>
    </p>

    <blockquote>
        Edit changes....
    </blockquote>


<% if all_articles.size > 0 %>
<h2>Articles</h2>
<ul>
<% for art in all_articles %>
  <li><a href="/article/<%= art.id %>"><%= art.title %></a></li>
<% end %>
</ul>
<% end %>



</article>




<aside class="col-4">

  <section class="story-box">
  <div class="hd zone-border zone-border-medium">
    <h4 class="sub-heading"><a href="/story/<%= main_story.id %>"><%= main_story.title %></a></h4>
  </div>
  <%= main_story.synopsis %>
  </section>

</aside>

</section>
