<article class="event-main">

<% if event.main_story %>
<%= Fragment.new('key-events').render(:story => event.main_story, :current_event => event) %>
<% end %>

<article class="event-main col-10">

<h1><%= event.title %></h1>

<!--
<p class="when">
    <b>When</b>: <%= event.when %>
</p>
-->

<% if event.hero_image %>
<img src="/images/<%= event.hero_image %>" id="hero"/>
<% end %>

<aside id="background">
    <h2>Summary</h2>
    <%= event.summary %>
</aside>


<aside class="latest-updates">
    <h2>Latest updates (8 min. ago)</h2>
    <ul>
      <li>
        <p>We need those messages as evidence. Anybody who destroys that evidence is seriously interfering with the course of a police.</p>
          <time><a href="">8 min. ago</a></time>
        </li>
        <li>
          <p>It was revealed that the business secretary told two undercover reporters he had "declared war" on Rupert Murdoch.</p>
          <time><a href="">37 min. ago</a></time>
        </li>
        <li class="read">
          <p>The News of the World illegally targeted the missing schoolgirl Milly Dowler and her family in March 2002.</p>
          <time><a href="">1 hour ago</a></time>
        </li>
    </ul> 
</aside>

<% if event.quote %>
<blockquote class="col-5 pull-quote">
    <span class="bqstart">“</span>
    <span class="quote"><%= event.quote[:text] %></span>
    <span class="author"><%= event.quote[:author] %></span>
    <span class="bqend">”</span>
</blockquote>
<% end %>


<div class="fluid-row">
<% if event.widgets.include?('map') %>
<div class="col-4">
<%= Fragment.new('location').render(:event => event) %>
</div>
<% end %>

<% for concept in concept_widgets %>
<div class="col-3">
<%= Fragment.new('concept').render(:concept => concept) %>
</div>
<% end %>
</div>

<% if event.roles.size > 0 %>
<aside id="characters">
    <h2>Key players</h2>

    <% for role in event.roles %>
    <div class="player">
      <img src="<%= role.actor.wide_thumbnail %>"/>
      <%= role.description %>
    </div>
    <% end %>
</aside>
<% end %>

<div id="reaction">
    <h2>Opinions</h2>
<style>
  .option {
    margin: 7px 0 7px 0 !important;
    padding: 7px 0 7px 0;
    margin-left: 0 ; 
    position: relative;
    text-justify: inter-word;
    width: 40%;
  }

  .mod {
    font-size: 15px;
    padding-left: 5px;
  }

  .vs {
    text-align: center;
  }
</style>
  <div class="option col-4">
    <article class="article-thumb">
      <img src="http://static.guim.co.uk/sys-images/Media/Columnists/Columnists/2011/7/6/1309964190031/Rupert-Murdoch-007.jpg">
      <div class="title">Tory MPs should be roaring on the airwaves against this bugging of Lib Dem colleagues</div>
    </article>
  </div>
  <blockquote class="mod">
    <span class="bqsmall">“</span>
    <span class="quote">
        Ed Miliband has been silly, but he's only a lad. Lib Dems have been worse, but they are Lib Dems after all. It's Tories we look to to defend constitutional proprieties against the mob
    </span>
    <span class="bqend">”</span>
    </blockquote>
    <h2 class="vs col-10">VS</h2>
    <blockquote class="mod col-7">
    <span class="bqsmall">“</span>
    <span class="quote">
        Taking the Murdoch decision away from Vince Cable stopped this story in its tracks – but made it a poisoned chalice
    </span>
    <span class="bqend">”</span>
    </blockquote>
     <div class="option col-4">
    <article class="article-thumb">
      <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2010/12/21/1292959920209/Vince-Cable-007.jpg">
      <div class="title">It was wrong to strip Vince Cable of the BSkyB decision</div>
    </article>
  </div>
</div>

<div id="reaction">
    <h2>Opinions</h2>
<style>
  .option {
    margin: 7px 0 7px 0 !important;
    padding: 7px 0 7px 0;
    margin-left: 0 ; 
    position: relative;
    text-justify: inter-word;
    width: 40%;
  }

  .mod {
    font-size: 15px;
    padding-left: 5px;
  }

  .vs {
    text-align: center;
  }
</style>

<% if event.get_articles_by_type("opinion").size == 2 %>
    <% articles = event.get_articles_by_type("opinion") %>
    <% article = articles[0] %>
      <div class="option col-4">
        <article class="article-thumb">
          <img src="<%= article.main_image %>">
          <div class="title"><%= article.main_image_caption %></div>
        </article>
      </div>
      <blockquote class="mod">
        <span class="bqsmall">“</span>
        <span class="quote">
            <%= article.quote %>
        </span>
        <span class="bqend">”</span>
      </blockquote>
      
      <% article = articles[1] %>
      <h2 class="vs col-10">VS</h2>
      <blockquote class="mod col-7">
        <span class="bqsmall">“</span>
        <span class="quote">
            <%= article.quote %>
        </span>
        <span class="bqend">”</span>
      </blockquote>
      <div class="option col-4">
      <article class="article-thumb">
        <img src="<%= article.main_image %>">
        <div class="title"><%= article.main_image_caption %></div>
      </article>
      </div>
<% end %>
</div>

<% if all_articles.size > 0 %>
<div class="below-guilt">
  <h2>In depth</h2>
  <ul>
    <% for art in all_articles %>
    <li><a href="/articles/<%= art.id %>"><%= art.title %></a></li>
    <% end %>
  </ul>
</div>
<% end %>



</article>

<!-- 
<aside class="widgets col-4">

  <% if event.widgets.include?('map') %>
  <%= Fragment.new('location').render(:event => event) %>
  <% end %>

  <% for concept in concept_widgets %>
  <%= Fragment.new('concept').render(:concept => concept) %>
  <% end %>

  <% if previous_events.size > 0%>
  <h2>Previous events in this story</h2>
	<% for event in previous_events%>
		<a href="/event/<%= event.id %>"> <%= event.id%></a>
	<% end %>
  <% end %>
</aside>
-->

</article>

