<article class="event-main">

<% if event.main_story %>
<%= Fragment.new('key-events').render(:story => event.main_story, :current_event => event) %>
<% end %>

<article class="event-main col-10">

<h1><%= event.title %></h1>

<p class="when">
    <b>When</b>: <%= event.when %> <!-- --> 
</p>

<img src="/images/milly.jpg" id="hero"/>

<aside id="background">
    <h2>Summary</h2>
    <%= event.summary %>
</aside>


<blockquote class="col-5">
    <span class="bqstart">“</span>
    <span class="quote">
        We need those messages as evidence. Anybody who destroys that evidence is seriously interfering with the course of a police investigation.
    </span>
    <span class="bqend">”</span>
</blockquote>


<aside>
    <h2>Since your last visit (3pm Nov. 23)</h2>
    <ul>
        <li><time>Nov 25.</time> We need those messages as evidence. Anybody who destroys that evidence is seriously interfering with the course of a police.</li>
        <li><time>Nov 24</time> It was revealed that the business secretary told two undercover reporters he had "declared war" on Rupert Murdoch.</li>
        <li class="read"><time>Nov 24</time> The News of the World illegally targeted the missing schoolgirl Milly Dowler and her family in March 2002.</li>
    </ul> 
</aside>

<aside id="characters">
    <!-- <h2>Characters</h2>
    <img src="http://news.bbcimg.co.uk/media/images/54023000/jpg/_54023105_murdoch_reuters_238.jpg" />
    <img src="http://news.bbcimg.co.uk/media/images/50975000/jpg/_50975432_wade_afp.jpg" />
    <img src="http://news.bbcimg.co.uk/media/images/54023000/jpg/_54023097_jamesmurdoch_ap.jpg"/>
    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2011/5/10/1305036701106/Milly-Dowler-007.jpg"/>
    -->
    </aside>

<div id="reaction">
    <h2>Reaction</h2>
</div>

<% if all_articles.size > 0 %>
<h2>Articles</h2>
<ul>
<% for art in all_articles %>
  <li><a href="/articles/<%= art.id %>"><%= art.title %></a></li>
<% end %>
</ul>
<% end %>



</article>

<!-- 
<aside class="widgets col-4">

  <% if event.widgets.include?('map') %>
  <%= Fragment.new('location').render(:event => event) %>
  <% end %>

  <% for concept in concept_widgets %>
  <%= Fragment.new('concept').render(:concept => concept) %>
  <% end %>

  <% if previous_events.size > 0%>
  <h2>Previous events in this story</h2>
	<% for event in previous_events%>
		<a href="/event/<%= event.id %>"> <%= event.id%></a>
	<% end %>
  <% end %>
</aside>
-->

</article>

