
<section class="fluid-row" role="background">
    <div id="lead">
        <div class="leadin"></div>
    </div>
    <h1>Background</h1>
</section>

<section id="main" class="fluid-row event" role="event">

<article class="event-main">

<section class="key-events">
    <div class="story-title">Key Events</div>
    <ul>
        <li class="event">
            <span class="title">News Corp withdraw BSkyB bid</span>
            <time>Dec. 01</time>
        </li>
        <li class="event current">
            <span class="title">Milly Dowler's voicemail hacked</span>
            <time>Nov 23.</time>
        </li>
        <li class="event">
            <span class="title">Jeremy Hunt greenlights bid</span>
            <time>Nov. 12</time>
        </li>
        <li class="event">
            <span class="title">Jeremy Hunt replaces Vince Cable</span>
            <time>Oct. 29</time>
        </li>
        <li class="event">
            <span class="title">Vince Cable goes after Rupert Murdoch</span>
            <time>Oct. 20</time>
        </li>
        <li class="event">
            <span class="title">News Corporation announces bid to takeover BSkyB</span>
            <time>Jul 21</time>
        </li>
    </ul>
    <img src="/images/vodka.jpg" id="advert"/>
</section>

<!-- sorry - need to chat about this tomorrow :) 
<%= Fragment.new('key-events').render(:story => event.main_story) %>
-->

<article class="event-main col-10">

<h1><%= event.title %></h1>

<p class="when">
    <b>When</b>: <%= event.when %> <!-- --> 
</p>

<img src="/images/milly.jpg" id="hero"/>

<aside id="background">
    <h2>Summary</h2>
    <%= event.summary %>
</aside>


<blockquote class="col-5">
    <span class="bqstart">“</span>
    <span class="quote">
        We need those messages as evidence. Anybody who destroys that evidence is seriously interfering with the course of a police investigation.
    </span>
    <span class="bqend">”</span>
</blockquote>


<aside>
    <h2>Since your last visit (3pm Nov. 23)</h2>
    <ul>
        <li><time>Nov 25.</time> We need those messages as evidence. Anybody who destroys that evidence is seriously interfering with the course of a police.</li>
        <li><time>Nov 24</time> It was revealed that the business secretary told two undercover reporters he had "declared war" on Rupert Murdoch.</li>
        <li class="read"><time>Nov 24</time> The News of the World illegally targeted the missing schoolgirl Milly Dowler and her family in March 2002.</li>
    </ul> 
</aside>

<aside id="characters">
    <!-- <h2>Characters</h2>
    <img src="http://news.bbcimg.co.uk/media/images/54023000/jpg/_54023105_murdoch_reuters_238.jpg" />
    <img src="http://news.bbcimg.co.uk/media/images/50975000/jpg/_50975432_wade_afp.jpg" />
    <img src="http://news.bbcimg.co.uk/media/images/54023000/jpg/_54023097_jamesmurdoch_ap.jpg"/>
    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2011/5/10/1305036701106/Milly-Dowler-007.jpg"/>
    -->
    </aside>

<div id="reaction">
    <h2>Reaction</h2>
</div>

<% if all_articles.size > 0 %>
<h2>Articles</h2>
<ul>
<% for art in all_articles %>
  <li><a href="/articles/<%= art.id %>"><%= art.title %></a></li>
<% end %>
</ul>
<% end %>



</article>

<!-- 
<aside class="widgets col-4">

  <% if event.widgets.include?('map') %>
  <%= Fragment.new('location').render(:event => event) %>
  <% end %>

  <% for concept in concept_widgets %>
  <%= Fragment.new('concept').render(:concept => concept) %>
  <% end %>

</aside>
-->

</article>

</section>

<section role="depth">
    <div id="box">
    
    </div>
</section>

