
<section role="background">
 ...
</section>

<section id="main" class="fluid-row event" role="event">

<article class="event-main col-8">

<h1><%= event.title %></h1>

<!-- 
<img 
    src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2011/5/10/1305036701106/Milly-Dowler-007.jpg"
    id="hero"
/>
-->

<aside id="background">
    <h2>Summary</h2>
    <%= event.summary %>
</aside>

<aside>
    <h2>Since your last visit</h2>
    <%= event.summary %>
</aside>

<div class="arrow_box"
        onclick="document.getElementsByTagName('body')[0].className='active';">
    <h2>Understand the Impact</h2>
    <p>
        - Phone Hacking
        - Murder of Milly Dowler
        - News International bid for BSkyB 
    </p>
</div>

<aside id="characters">
    <h2>Characters</h2>
    <img src="http://news.bbcimg.co.uk/media/images/54023000/jpg/_54023105_murdoch_reuters_238.jpg" />
    <img src="http://news.bbcimg.co.uk/media/images/50975000/jpg/_50975432_wade_afp.jpg" />
    <img src="http://news.bbcimg.co.uk/media/images/54023000/jpg/_54023097_jamesmurdoch_ap.jpg"/>
    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2011/5/10/1305036701106/Milly-Dowler-007.jpg"/>
</aside>


<% if all_articles.size > 0 %>
<h2>Articles</h2>
<ul>
<% for art in all_articles %>
  <li><a href="/article/<%= art.id %>"><%= art.title %></a></li>
<% end %>
</ul>
<% end %>



</article>


<aside class="widgets col-4">

  <% if main_story %>
  <section class="story-box">
  <div class="hd zone-border zone-border-medium">
    <h4 class="sub-heading"><a href="/story/<%= main_story.id %>"><%= main_story.title %></a></h4>
  </div>
  <%= main_story.synopsis %>
  </section>
  <% end %>

  <% if event.widgets.include?('map') %>
  <div id="map_canvas" style="width:100%; height: 200px"></div>
  <script type="text/javascript">
  // TODO: highlight location, allow multiple maps
  var el = document.getElementById("map_canvas");
  window.onload = function() {
    initMaps(el, <%= event.location[:lat] %>, <%= event.location[:long] %>)
  };
  </script>
  <% end %>

  <% for concept in concept_widgets %>
  <section class="story-box">
  <div class="hd zone-border zone-border-medium">
    <h4 class="sub-heading">What is <em><%= concept.title %></em>?</h4>
  </div>
  <%= concept.definition %>
  </section>  
  <% end %>

  <% if previous_events.size > 0%>
  <h2>Previous events in this story</h2>
	<% for event in previous_events%>
		<a href="/event/<%= event.id %>"> <%= event.id%></a>
	<% end %>
  <% end %>
</aside>

</article>

</section>

<section class="fluid-row" role="depth">
 ... 
</section>

