<section class="key-events">
    <div class="story-title"><a href="/stories/<%= story.id %>"><%= story.title %></a></div>
    <ul>
        <% for ev in story.events %>
        <li class="event <%= ev.id == current_event.id ? 'current' : '' %>">
            <a href="/events/<%= ev.id %>">
                <span class="title"><%= ev.title %></span>
                <time><%= Time.parse(ev.date).strftime('%e %b, %Y') %></time>
            </a>
        </li>
        <% end %>
<%#     <li class="event ellipsis">&hellip;</li> %>
    </ul>
</section>
